h1, h3 {
    color:red
}
.titulo {
    font-size: 40px;
    border: solid black 1px;
}
ol li {
    background-color: yellow;   
}
.par {
    color: forestgreen
}
.primo {
    text-transform:uppercase;
}
li{
    font-size: 20px;
}
li em{
    font-weight: bold;
}
.azul {
    color: blue;
}
.java {
    background-color: palevioletred;
}
a:hover {
    font-weight: bold;
    color: black
}